.container {
  background: linear-gradient(45deg, #ffd900, rgb(163, 0, 255));
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 300px;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.container label {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container input {
  font-size: 1.4rem;
}

.container input:focus {
  outline: 1px solid black;
}

.container button {
  margin: 0 auto 0 auto;
  height: 3rem;
  width: 7.7rem;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  border: none;
  background-color: #ffd900;
}

.container button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px #f6f200;
}
