.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(255, 217, 0);
  grid-area: chat;
}

.container form {
  margin-top: auto;
}

.container input {
  width: 100%;
  padding: 0;
}

.container ul {
  padding: 0;
  max-height: 90vh;
  overflow-y: auto;
  /* Firefox scroll */
  scrollbar-width: none;
}

/* Chrome scroll */
.container ul::-webkit-scrollbar {
  display: none;
}

.container li {
  list-style: none;
  text-align: start;
}

.container p {
  margin: 0;
}

.myMessage {
  color: blue;
  font-weight: bold;
}

.userMessage {
  color: green;
  font-weight: bold;
}
