.cardUser {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #060c21;
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 5px 2px #fa0356;
  border-radius: 5px;
}

.cardUser img {
  width: 40px;
  height: 60px;
  margin-left: auto;
}

.cardUser span {
  font-size: 3rem;
  margin-left: 10px;
}

.userInfo {
  text-align: start;
}

.userInfo h2 {
  margin: 0;
  text-transform: capitalize;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #121212;
  grid-area: users;
  padding: 20px;
}

.container h4 {
  color: white;
  font-size: 3rem;
  margin: 0;
}
