.container {
  display: grid;
  grid-template-areas: "users whiteboard chat";
  grid-template-columns: 350px 1fr 350px;
  min-height: 100vh;
  gap: 5px;
  padding: 5px;
  background-color: #e91e63;
}

@media screen and (max-width: 1400px) {
  .container {
    grid-template-areas:
      "whiteboard whiteboard"
      "users chat";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 300px;
  }
}
